* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }


/* Day Theme by Default */

:root {
    --bg-color-box: #f7c59f;
    --text-color-box: #222a43;
    --text-color-box-light: #585d72;
    --button-color-text: #ffffff;
    --text-color: #111111;
    --bg-color: #faf3dd;
    --button-color: #003566;
    --warming-color: #ff465a;
    --shadow-color: rgba(8, 21, 65, 0.3);
}

body.dark {
  --bg-color-box: #001d3d;
  --text-color-box: #f7c59f;
  --text-color-box-light: #faf3dd;
  --text-color: #ffffff;
  --bg-color: #000814;
  --button-color: #aed9e0;
  --button-color-text: #000814;
  --warming-color: #ff465a;
  --shadow-color: rgba(255, 255, 255, 0.3);
}

body {
    background-color: var(--bg-color);
}

/* Start Styles for Switch Button */

.switch-container {
  position: fixed;
  top: 1rem;
  right: calc(100vw/2 - 25px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #003566;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #fcca46;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #fcca46;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #003566;
}

/* End Styles for Switch Button */

.container {
    background-color: var(--bg-color-box);
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 4em;
    box-shadow: 0 0 5em var(--shadow-color);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button {
    font-size: 1em;
    background-color: var(--button-color);
    color: var(--button-color-text);
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}

.search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid var(--button-color);
    outline: none;
    color: var(--text-color-box);
    background-color: var(--bg-color-box);
}

#result {
    margin-top: 1.25em;
}

.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: var(--text-color-box);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: var(--text-color-box);
}

.container span {
    color: var(--text-color-box-light);
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--warming-color);
}

/* Styles Help Button */

#help-btn {
  position: fixed;
  bottom: 20px;
  right: calc(100vw/2 - 25px);;
  background-color: var(--button-color);
  color: var(--button-color-text);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 2px 6px 8px var(--shadow-color);
  z-index: 1000;
}

#help-btn:hover {
  background-color: var(--bg-color-box);
  color: var(--button-color);
}


.introjs-tooltip {
  background-color: var(--bg-color-box);  
  color: var(--text-color-box);           
  border-radius: 10px;
  width: 60vw;
  max-width: 600px;
  text-align: center;
  font-size: 1.2rem;
}

.introjs-button {
  background-color: var(--button-color);
  color: var(--button-color-text);
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

.introjs-button:hover {
  background-color: var(--button-color-text);
  color: var(--button-color);
}

.introjs-tooltip .introjs-arrow {
  border-color: var(--button-color);  
}

.introjs-skipbutton {
  font-size: 1rem !important;
  padding: 6px 12px !important;
  background-color: var(--button-color) !important;
  color: var(--button-color-text) !important;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px !important;
  right: 10px !important;
  transition: background 0.3s;
}

.introjs-skipbutton:hover {
  background-color: var(--button-color-text) !important;
  color: var(--button-color) !important;
}

@media screen and (max-width:640px) {
  .search-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .search-wrapper button {
    width: 120px;
    justify-self: center;
  }

  .search-wrapper input {
    max-width: 80vw;
  }
}